html {
  max-width: 1920px;
}

body {
  height: 100vh;
  font-family: trebuc !important;
  color: #ffffff;
  text-align: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: rgb(13, 13, 20);
}

@font-face {
  font-family: trebuc;
  src: url(trebuc.ttf);
}

@font-face {
  font-family: janna;
  src: url(Janna.ttf);
}

#particlesJsCont {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

#particles-js {
  height: 100%;
}

@mixin DarkenHover($time) {
  box-shadow: none;
  transition: box-shadow $time;
  &:hover {
    box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.25);
  }
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

#quoteCont {
  margin-top: -30vh;
  width: 700px;
}

#quoteText {
  font-size: 40px;
  margin: 0;
}

#leftQuotMark {
  line-height: 20px;
  text-align: left;
  font-size: 60px;
  margin: 0;
}

#rightQuotMark {
  text-align: right;
  font-size: 60px;
  margin: 0;
}

#Says {
  padding: 2px 10px;
  background-color: #b04066;
  border-radius: 20px;
}

#bgImgCont {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -20;
}

#bgImg {
  background-image: url(../imgs/SALA.jpg);
  height: 100%;
  width: 1920px;
  background-size: 100% 100vh;
  opacity: 0.6;
}

#Navigation {
  top: 0;
  margin: 0 auto;
  width: 90%;
  height: 100px;
}

#NavCont {
  margin: 20px auto;
  display: flex;
}

#logoCont {
  align-self: center;
  width: fit-content;
  margin-left: 50px;
}

#logo {
  height: 70px;
}

#NavBxCont {
  align-self: center;
  margin-left: auto;
  order: 2;
}

.NavBx {
  padding: 5px;
  color: #ffffff;
  //border: 1px solid #ffffff;
  width: 120px;
  display: inline-block;
  margin: 0 25px;
  text-align: center;
  transition: border 300ms, color 300ms;
  font-size: 17px;
}

.NavBx:hover {
  color: #969696;
  border: 1px solid #969696;
}

@media (min-width: 768px) {
  #Navigation {
    top: 0;
    margin: 0 auto;
    width: 90%;
    height: 100px;
  }

  #NavCont {
    margin: 20px auto;
    display: flex;
  }

  #logoCont {
    align-self: center;
    width: fit-content;
    margin-left: 50px;
  }

  #logo {
    height: 70px;
  }

  #NavBxCont {
    align-self: center;
    margin-left: auto;
    order: 2;
  }

  .NavBx {
    padding: 5px;
    color: #ffffff;
    border: 1px solid #ffffff;
    width: 120px;
    display: inline-block;
    margin: 0 25px;
    text-align: center;
    transition: border 300ms, color 300ms;
    font-size: 17px;
  }

  .NavBx:hover {
    color: #969696;
    border: 1px solid #969696;
  }
}

#cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 9999;
  font-size: 60px;
  text-align: center;
  padding-top: 200px;
  color: white;
}

.link {
  cursor: pointer;
}

.button {
  border-radius: 3px;
  padding: auto 0;
}
